<style type="text/css">
<%= render :file=>"person_mailer/email.css" %>
</style>
<div id="form_panel">
<img src="http://beehivebaltimore.org/wp-content/themes/behave/images/beehive_logo.png"/>
<p>
Hello <%=@person.first_name%>,</p>

<p>We're in the process of updating our billing records for 2010, and you can help us out by testing our new PayPal payment gateway.</p>

<p>According to our records, you have paid Beehive Baltimore <%= number_to_currency(@paid) %> out of <%= number_to_currency(@owed) %> owed.</p>

<p>This means that your balance due is <%= number_to_currency(@due) %>.  You can help us test our payment gateway and
pay this amount now by visiting <%= link_to("this link",new_payment_url(:person_id => @person.id, :amount => @due)) %>.
</p>

<% if @due>200 %>
<p>If you don't think this amount is right, please email us and we'll help sort it out. We apologize for any delay in getting you this information, and
  from now on you will receive monthly automated payment requests from us. (This is why we're testing this new payment gateway.)
</p>
<% end %>

<p>Please let us know if you have questions, and we will see you around the Hive!</p>

Sincerely,<p/>

David Troy<br/>
Organizer<br/>
Beehive Baltimore
</div>