<% billed = member.total_due %>
<% paid = member.payments.total %>
<% owed = billed - paid %>
<tr class="<%=cycle('even', 'odd')%>">
  <td><%=member.show_name%><br/>
    <% member.memberships.each do |m| %>
      <%=m.plan.name%>, <%=format_date_range(m.date_range)%> (<%=m.id%>)<br/>
    <% end %>
    </td>
  <td><%=number_to_currency(billed)%></td>
  <td><%=number_to_currency(paid)%></td>
  <td><%=number_to_currency(owed)%></td>
</tr>
