<div id="form_panel">
  <p>You have paid <%= number_to_currency(@person.payments.total) %> of <%= number_to_currency(@person.owed_payments) %> owed to the Hive.</p>
  <p><%= pay_invoice_cue(@person) %></p>

  <h1>Invoices by Month</h1>
  <%= render :partial => 'invoices/summary', :collection => @person.invoices.descending, :as => :invoice %>

  <h1 id='payment_history'>Payment History</h1>
  <%= render :partial => 'payments/payments', :object => @person.payments.descending %>

  <p/>Payment Aliases: <%=@person.payment_aliases.join(', ')%>
</div>