<table width="800px">
  <tr>
    <th>Member</th>
    <th>Current Plan</th>
    <th>Owed</th>
    <th>Paid</th>
  </tr>
<% @people.each do |person| %>
  <tr class="<%=cycle('even', 'odd')%>">
    <td><%=person.show_name%><br/>
      <% person.memberships.each do |m| %>
        <%=m.plan.name%>, <%=m.date_range%> (<%=m.id%>)<br/>
      <% end %>
      </td>
    <td><%=person.memberships.active_in_month.plan.name%></td>
    <td><%=number_to_currency(person.owed_payments)%></td>
    <td><%=number_to_currency(person.payments.total)%></td>
  </tr>
<% end %>
</table>