<div id="form_panel" style="height:220px;padding:10px 0px 3px 10px">
  <%= render :partial => 'person' %>
  <h2><%=@person.show_name%></h2>
  <% form_for @person, :html => {:method => :put} do |f| %>
    Enter New Password: <%=f.password_field :password%><p/>
    Confirm Password: <%=f.password_field :password_confirmation%><p/>
    <%=f.submit 'Login'%>
  <% end %>
</div>