<div id="form_panel">
  <h1><%=image_tag(@person.image, :class => :left_heading)%>&nbsp;<%=@person.show_name%></h1>
  
  <h3>About <%=@person.show_name%></h3>
  <%=@person.profile || "#{@person.show_name} has not yet completed a public profile."%>
  <p/>
  <% if @person.twitter_user %>
  <h3>@<%=@person.twitter_user.username%> on Twitter</h3>
  <% end %>

  <%=link_to "#{@person.company_name || 'Website'}<br/>", @person.website if @person.website%>
  <%="Phone: #{@person.phone_number}<br/>" if @person.phone_number%>
  <p/>
  <%=link_to "Login", login_person_path %>
</div>
