<div id="form_panel">
  <h2><%=image_tag(@person.image)%>&nbsp;<%=@person.show_name%></h2>
  <p>Member since <%= @person.created_at.to_s(:short_date) %></p>
  <p><%=link_to "Connect to Foursquare", foursquare_person_path %></p>
  <p><%=link_to "#{@person.grouped_appearances.size} Appearances", person_path(:type => :activity) %></p>
  <p><%=link_to "#{@person.devices.size} Devices", person_path(:type => :devices) %></p>
</div>

