<h1><%=image_tag(@person.image)%>&nbsp;<%=@person.show_name%></h1>
<p>Member since <%= @person.created_at.to_s(:short_date) %><br/>
You have paid <%= number_to_currency(@person.payments.total) %> of <%= number_to_currency(@person.owed_payments) %> owed to the Hive. 
<%= pay_invoice_cue(@person) %>.
</p>
<hr/>

<%=link_to ( 'Destroy', person_path(@person), :confirm => 'Are you sure?', :method => :delete ) if @person.devices.empty?%>

<h2 style='color: #black'>Devices</h2>
<%= render :partial => 'devices/device', :collection => @person.devices %>

<br clear='all'>
<h2 style='color: #black'>Invoices by Month</h2>
<%= render :partial => 'invoices/summary', :collection => @person.invoices.descending, :as => :invoice %>

<h2 style='color: #black'>Monthly Activity</h2>
<%= iterate_appearances_by_month(@person) %>

<h2 id='payment_history'>Payment History</h2>
<%= render :partial => 'payments/payments', :object => @person.payments.descending %>