<div id="form_panel">
  <h2><%=image_tag(@person.image, :class => :left_heading)%>&nbsp;<%=@person.show_name%></h2>
  <p>Member since <%= @person.created_at.to_s(:short_date) %></p>
  <p><%=link_to @person.foursquare_user ? "Connected to Foursquare" : "Connect to Foursquare", oauth_connect_path(:action => :foursquare, :person_id => @person) %></p>
  <p><%=link_to @person.foursquare_user ? "Connected to Twitter (#{@person.twitter_user.username})" : "Connect to Twitter", oauth_connect_path(:action => :twitter, :person_id => @person) %></p>
  <p><%=link_to "#{@person.days.size} Days", person_path(:type => :activity) %></p>
  <p><%=link_to "#{@person.devices.size} Devices", person_path(:type => :devices) %></p>
  <p>You have paid <%= number_to_currency(@person.payments.total) %> of <%= number_to_currency(@person.owed_payments) %> owed to the Hive.</p>
  <p><%= pay_invoice_cue(@person) %></p>
</div>

<br clear='all'>
<h2 style='color: #black'>Invoices by Month</h2>
<%= render :partial => 'invoices/summary', :collection => @person.invoices.descending, :as => :invoice %>

<h2 style='color: #black'>Monthly Activity</h2>
<%= iterate_appearances_by_month(@person) %>

<h2 id='payment_history'>Payment History</h2>
<%= render :partial => 'payments/payments', :object => @person.payments.descending %>
