<div class="appearance">
  <%=device_icon(device.mac)%><br/>
  <%=device.mac%><br/>
  <b><%=truncate(device.manufacturer_name,:length => 20)%></b><br/>
  <p/>
  <%=device.appearances.size%> Appearances<br/>
  <%=device.first_appearance.to_s(:short_date) %>&nbsp;&mdash;&nbsp;<%=device.last_appearance.to_s(:short_date) %>
</div>