<div class="appearance">
  <% if appearance.device.person && appearance.device.person.verified %>
    <%=link_to image_tag(appearance.image), person_url(appearance.device.person)%><br/>
    <%= appearance.show_name %>
  <% else %>
     <%= link_to image_tag(appearance.image), claim_device_url(appearance.device) %><br/>
     <%= link_to(truncate(appearance.show_name, :length => 20), claim_device_url(appearance.device)) %>*
  <% end %>
  <%=appearance.ip_address%><br/>
  <%=appearance.device.name%><br/>
</div>

