<div class="appearance">
  <%=link_to image_tag(appearance.image), person_url(appearance.device.person)%><br/>
  <%=appearance.device.person_verified ? appearance.show_name : link_to(truncate(appearance.show_name, :length => 20), claim_device_url(appearance.device)) %>
  <%="*" unless appearance.device.person_verified %><br/>
  <%=appearance.ip_address%><br/>
  <%=appearance.device.name%><br/>
</div>

