<div class="appearance">
  <%=image_tag(url_for(appearance.image))%><br/>
  <%=controller.respond_to?(:controller_name) ? link_to(appearance.show_name, claim_device_url(appearance.device)) : appearance.device.mac %>
  <%="*" unless appearance.device.person_verified %><br/>
  <%=appearance.ip_address%><br/>
  <%=appearance.device.name%><br/>
</div>

