<div class="appearance">
  <%=image_tag(url_for(appearance.image))%><br/>
  <%=appearance.device.person.verified ? appearance.show_name : link_to(truncate(appearance.show_name, :length => 20), claim_device_url(appearance.device)) %>
  <%="*" unless appearance.device.person_verified %><br/>
  <%=appearance.ip_address%><br/>
  <%=appearance.device.name%><br/>
</div>

