<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.titleize -%> : <%= controller.action_name.titleize %></title>
  <%= stylesheet_link_tag 'honeycomb' %>
	<%= yield :head %>
	
</head>
<body>

	<div id="wrapper">

				<p style="color: green"><%= flash[:notice] %></p>

				<%= yield  %>

  </div><!-- #wrapper -->

</body>
</html>

</body>
</html>
